body {
  background-image: url(interlaced.png);
  background-repeat: repeat;
  width: auto;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 780px;
  max-width: 100%;
  margin: 0px auto;
  padding: 10px;

  /* For the 3d flip */
  perspective: 1000px;
}

.card-front {
  background: #FFFFFA;
  color: black;
  font-size: 32px;
}

.card-back {
  background-image: url(kale-salad.jpg);
  color: white;
  font-size: 42px;
  text-shadow: 0px 0px 2px black;
  font-weight: bold;
  font-variant: small-caps;
}

.card-front, .card-back {
  box-shadow: 0px 5px 8px black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: georgia, palatino;
  padding: 1em 1em;
  text-align: center;
  overflow: hidden;
}

.txt-category {
  position: absolute;
  top: 40px;
  font-variant: small-caps;
  font-size: 10pt;
  color: #DC966F;
}

.txt-category {
  font-variant: small-caps;
  font-size: 18pt;
  color: #DC966F;
}

.txt-answer {
  margin-top: 20px;
  color: #8EA071;
  font-weight: bold;
}

.controls {
  width: auto;
  display: flex;
  margin-top: 10px;
}

.controls button {
  margin: 10px;
  display: block;
  height: 8vh;
  flex-grow: 1;
  font-size: 20px;
  flex-basis: 50%;
  border: solid 3px black;
  border-radius: 10px;
  font-weight: bold;
}

.btn-skip, .btn-next {
  background: #F7DD09;
  color: black;
}

.btn-answer {
  background: #0F5ECF;
  color: white;
}

.btn-ask {
  background: #980FCF;
  color: white;
}

.btn-reload {
  background: maroon;
  color: white;
}

.flippable-card {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  height: 70vh;
}

.flippable-card.flipped {
  transform: rotateY(180deg);
}

.flippable-card .card-front, .flippable-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  /* This is necessary to make backface-visibility work on iOS */
  -webkit-backface-visibility: hidden;

  /* Fix a bug around backface-visibility in Firefox */
  transform: rotateX(0deg);
}

.flippable-card .card-front {
  transform: rotateY(180deg);
  z-index: 1;
}

.flippable-card .card-back {
  z-index: 2;
}